.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rocket-name {
  font-size: 12px;
}

.launch-status {
  margin-left: 5px;
  font-size: 12px;
  padding: 4px;
  text-align: center;
  border-radius: 6px;
}

.details {
  display: grid;
  grid-template-columns: auto;
  font-size: 14px;
  margin-top: 10px;
}

.grid-row {
  border-bottom: 1px solid #E6E6E8; 
  padding: 10px;
}

.grid-row > span {
  margin-right: 10px; 
  font-weight: 600;
}
